
/*  PAGINA    */

/* Reset*/    
* {margin: 0;
    padding: 0;
    box-sizing: border-box;
}    


/* Index */
.encabezado{
    display: grid;
    align-items:center ;
    background-color:  #213555;
    width: 2000px;
    font-family: "Nunito Sans", sans-serif;
}

.titulo-principal{ 
    
    background-color:  #213555;
    color: #D8C4B6;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    display: block;
}  

.links-encabezados{
   
    color:#D8C4B6;
    font-size: 20px;
    margin-left: 1680px; 
    font-family: "Nunito Sans", sans-serif;
}

.formulario{color:#3E5879;
    font-size: 30px; 
    font-weight: bold;
}



.links{
    color:#D8C4B6;
    font-size: 30px;
    margin-left: 70px; 
    font-family: "Nunito Sans", sans-serif;
} 


.links-index{
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        border-radius: 66px 66px 66px 66px;
        font-family: "Nunito Sans", sans-serif;
        font-size: 100px;
        color: #213555;
        text-decoration: none;
        margin-left: 10px;
}

.contenedor-opinion{
    margin-top: 200px;
    display: grid;
    grid-template-rows: auto;

}

.opinion{
    font-size: larger;
    border: 2px solid black;
    padding: 5px;
}



.contenedor-imagen{
    margin-left: 1000px;
    width: 1000px ;
    margin-top: -700px;
    margin-bottom: 700px;
}    

.imagen{
    box-shadow: -5px 1px 38px -3px rgba(0,0,0,1);
}


.links-index:hover{
    background-color: #D8C4B6;
    border: 2px groove #213555;
    border-radius: 63px 63px 63px 63px;
    -webkit-border-radius: 63px 63px 63px 63px;
    -moz-border-radius: 63px 63px 63px 63px;
}

    
main{
        background-color: #F5EFE7;
        font-family: "Nunito Sans", sans-serif;
}
      
body{
    background-color: #F5EFE7;   
    font-family: "Nunito Sans", sans-serif;  
}



.pie-de-pagina{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    background-color: #213555;
    width: 2000px;
    color: #D8C4B6;
    margin-top: 200px;
    font-family: "Nunito Sans", sans-serif;
}

.navbar-brand{
    display: flex;
    flex-direction: row;

}


footer p{
    margin-bottom: 1px;
    text-align: left;
    margin: 10px;
    font-size: 20px;
}

footer img{
    color: #D8C4B6;
    margin-left: 100px;
    margin-right: -80px;
} 
        
h2{
    background-color: #F5EFE7; 
    font-family: "Nunito Sans", sans-serif; 
}

header h1{ 
    font-family: "Nunito Sans", sans-serif;
    color:#D8C4B6;
    text-decoration: none;
}


li {font-family: "Nunito Sans", sans-serif;
    margin-top: 150px;
    margin-left: 100px;
}

h2{
    color: #3E5879;

}


.parrafos{
    font-family: "Nunito Sans", sans-serif;
    color:#3E5879;
    background-color: #F5EFE7;
    font-size: 30px; 
    text-transform: capitalize;
    text-align: center;
    font-weight: normal;
    margin: 20px;
    margin-top: 150px;
}          

.contacto{
    color: #213555;
    
}





.intro{
    width: 100%;
    height: 100%;
    display: grid;
    margin-top: 25px;
    justify-content: center;
    text-shadow: -2px 1px 0px #213555;
    grid-template-columns: 85%; 
    grid-template-rows: 150px;


}

/*Media querys*/

@media (max-width: 576px) {
    .custom-style {
        display: flex;
        flex-wrap: wrap;
        font-size: 20px;
        justify-content: flex-start;
    }

    .header-camisetas{
        display: flex;
        margin: 10px;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        font-size: 30px;
    }


    .links-encabezados{
        display: flex;
        justify-content: flex-start;
    }

    .titulo-principal{
        display: flex;

    }

    .links-index{
        flex-direction: column;
        justify-content: flex-start;
        font-size: 70px;
    }


    .contenedor-opinion{
        margin-top: 400px;
    }

    .imagenes-offcanva{
        width: 100px;
    }

    .imagenes{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 120px;
        
    }

    .subtitulo{
        display: flex;
        flex-wrap: wrap;
        font-size: 35px;
        justify-content: center;}


    .pie-de-pagina{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 800px;
    }   
}


/*Camisetas*/


.contenedor-camiseta{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.camisetas-equipos{
    list-style: none;
}


/* Pantalones */

.contenedor-logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.logos-pant{
    width: 33.3%;
    padding: 10px;
    margin-left: 200px;
}

.pantalones{
    display: flex;
    flex-direction: row;
    justify-content: space-around
}


.pantalonnike{
    width: 33.3%;
    margin-left: 10px;
}

.pantalonadidas{
    width: 33.3%;

}

.pantalonpuma{
    width: 33.3%;
    margin-left: 10px;
}

.explora-mas{   
    flex-direction: row;

}

/* Pelotas */

.contenedor-pelotas{
    display: flex;
    flex-direction: row;
    justify-content: start;
}